
<div class="container">
  <div class="form-container">
    <h2>Crear producto</h2>
    
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="section">
            <h3>Detalles</h3>
            <label for="product-name">Nombre del producto</label>
            <input type="text" formControlName="productName" placeholder="DevCode">

            <label for="description">Descripción</label>
            <textarea id="description" formControlName="description" placeholder="DevCode"></textarea>

            <label for="product-image">Imagen del producto</label>
            <input type="file" id="product-image">
        </div>

        <div class="section">
            <h3>Propiedades</h3>
            <div class="property-group">
                <div class="property">
                    <label for="price">Precio</label>
                    <input type="text" id="price" name="price" placeholder="DevCode">
                </div>
                <div class="property">
                    <label for="category">Categoría</label>
                    <input type="text" id="category" name="category" placeholder="DevCode">
                </div>
            </div>
            <div class="property-group">
                <div class="property">
                    <label for="sale-price">Precio de venta</label>
                    <input type="text" id="sale-price" name="sale-price" placeholder="DevCode">
                </div>
                <div class="property">
                    <label for="stock">Stock</label>
                    <input type="text" id="stock" name="stock" placeholder="DevCode">
                </div>
            </div>
        </div>

        <button type="submit" class="submit-button" [disabled]="myForm.invalid">Agregar producto</button>
    </form>
  </div>
</div>
