<section class="cliente-list-container">
  <div class="title-container">
    <!-- componente title -->
    <app-title [titleName]="'Create sale'"></app-title>
  </div>

  <app-border>
    <div class="card-list">
      <div class="search-container">
        <div class="input-container">
          <label for="">Filtrar por nombre</label>
          <input type="text" />
        </div>
        <app-button [iconName]="'search'"></app-button>
      </div>

      <table class="information-container">
        <thead>
          <tr>
            <th>#</th>
            <th>Full name</th>
            <th>CI</th>
            <th>User name</th>
            <th>Phone</th>
            <th>Address</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @for (user of userList; track $index) {
          <tr>
            <td>{{ $index + 1 }}</td>
            <td class="perfil">
              <div>
                <label>{{ user.name }} {{ user.lastname }}</label>
                <span>{{ user.birthdate | date : "dd MMMM YYYY" }}</span>
              </div>
            </td>
            <td>{{ user.ci }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.address }}</td>
            <td class="edit-delete-container">
              <span (click)="createDinamicComponet(user)">
                <mat-icon class="edit-icon" fontIcon="edit"></mat-icon>
              </span>
              <span>
                <mat-icon class="delete-icon" fontIcon="delete"></mat-icon>
              </span>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </app-border>
</section>


<ng-template #editUserComponent></ng-template>
