.cliente-list-container {
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.border-container {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 12px;
    text-align: left;
    border-radius: 10px;
}

th {
    background-color: #F6F6F6;
    color: white;
    color: black;
}

.actions {
    display: flex;
    gap: 8px;
}

.btn {
    padding: 6px 12px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.btn-edit {
    background-color: #4CAF50;
}

.btn-delete {
    background-color: #f44336;
}
