<section class="cliente-list-container">
    <div class="title-container">
        <!-- componente title -->
         <app-title [titleName]="name" (eventclick)="createUser($event)" [buttonName]="'Create new user'" [iconName]="'add'" [background]="'red'"></app-title>
    </div>

    <app-border>
        <div class="border-container">
            <div class="shared-container">
                <input type="text">
            </div>
    
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Teléfono</th>
                            <th>Dirección</th>
                            <th>Birthdate</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (user of userList; track $index) {
                            <tr>
                                <td changeColor [nameToolTip]="name" >{{user.username | titlecase }}</td>
                                <td>{{'Sun Nov 10 2024 20:49:00 GMT-0400 (hora de Bolivia)' | date : 'dd MMMM yyyy'}}</td>
                                <td>{{user.address}}</td>
                                <td>{{user.birthdate}}</td>
                                <td class="actions">
                                    <button class="btn btn-edit">Editar</button>
                                    <button class="btn btn-delete">Eliminar</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </app-border>
</section>