/* Configuración del contenedor principal */
.bg-gray-100 {
  background-color: #f3f4f6;
}

.border-black {
  border-color: #000;
}

/* Título */
.text-gray-800 {
  color: #1f2937;
}

/* Estilos de los inputs */
input {
  font-family: Lato, sans-serif;
}

/* Botón de ingreso */
button {
  font-family: Lato, sans-serif;
  font-weight: bold;
}
