<section class="cliente-list-container">
  <div class="title-container">
    <!-- componente title -->
    <app-title [titleName]="'Create sale'"></app-title>
  </div>

  <app-border>
    <div class="card-list">
      <div class="search-container">
        <div class="input-container">
          <label for="">Filtrar por nombre</label>
          <input type="text" />
        </div>
        <app-button [iconName]="'search'"></app-button>
      </div>

      <table class="information-container">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Surname paternal</th>
            <th>Surname maternal</th>
            <th>Nit / CI</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @for (item of clientList; track $index) {
          <tr>
            <td>{{ $index }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.paternal }}</td>
            <td>{{ item.maternal }}</td>
            <td>{{ item.nit }}</td>
            <td class="edit-delete-container">
              <span (click)="editClient(item)">
                <mat-icon class="edit-icon" fontIcon="edit"></mat-icon>
              </span>
              <span>
                <mat-icon class="delete-icon" fontIcon="delete"></mat-icon>
              </span>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </app-border>
</section>

<ng-template #editModal></ng-template>
